{
  "openapi": "3.1.1",
  "info": {
    "title": "macvendor API",
    "version": "1.0.0",
    "description": "Source-aware MAC address block assignment lookup. Synthetic examples only; an assignment is not proof of a physical device manufacturer."
  },
  "servers": [
    { "url": "https://macvendor.io" },
    { "url": "http://localhost:3000", "description": "Local development" }
  ],
  "paths": {
    "/v1/lookup/{mac}": {
      "get": {
        "operationId": "lookupMac",
        "parameters": [
          { "name": "mac", "in": "path", "required": true, "schema": { "type": "string" }, "example": "02AABBCC0001" },
          { "name": "mode", "in": "query", "schema": { "type": "string", "enum": ["all", "official"], "default": "all" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/LookupSuccess" },
          "308": { "$ref": "#/components/responses/CanonicalRedirect" },
          "400": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/v1/assignments/{registry}/{prefix}": {
      "get": {
        "operationId": "getAssignment",
        "parameters": [
          { "name": "registry", "in": "path", "required": true, "schema": { "type": "string", "enum": ["ma-l", "ma-m", "ma-s", "iab", "cid"] }, "example": "ma-l" },
          { "name": "prefix", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[0-9A-F]+-(24|28|36)$" }, "example": "02AABB-24" },
          { "name": "include", "in": "query", "schema": { "type": "string", "const": "evidence" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/AssignmentSuccess" },
          "308": { "$ref": "#/components/responses/CanonicalRedirect" },
          "400": { "$ref": "#/components/responses/Problem" },
          "404": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/v1/data-release": {
      "get": {
        "operationId": "getDataRelease",
        "responses": {
          "200": { "$ref": "#/components/responses/DataReleaseSuccess" },
          "400": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/v1/organizations": {
      "get": {
        "operationId": "searchOrganizations",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 2, "maxLength": 100 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 20, "default": 10 } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/OrganizationSearchSuccess" },
          "400": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/v1/organizations/{key}": {
      "get": {
        "operationId": "getOrganization",
        "parameters": [{ "name": "key", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[A-Za-z0-9:._-]{1,80}$" } }],
        "responses": {
          "200": { "$ref": "#/components/responses/OrganizationSuccess" },
          "400": { "$ref": "#/components/responses/Problem" },
          "404": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/v1/corrections": {
      "post": {
        "operationId": "submitCorrection",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/CorrectionRequest" } } } },
        "responses": {
          "202": { "$ref": "#/components/responses/CorrectionAccepted" },
          "400": { "$ref": "#/components/responses/Problem" },
          "413": { "$ref": "#/components/responses/Problem" },
          "415": { "$ref": "#/components/responses/Problem" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    }
  },
  "components": {
    "headers": {
      "RequestId": { "description": "Opaque request identifier", "schema": { "type": "string" } },
      "Location": { "description": "Canonical URL", "schema": { "type": "string", "format": "uri" } },
      "RetryAfter": { "description": "Seconds before retry", "schema": { "type": "integer", "minimum": 1 } }
    },
    "responses": {
      "LookupSuccess": {
        "description": "Lookup result; no match is still a successful response",
        "headers": { "X-Request-Id": { "$ref": "#/components/headers/RequestId" } },
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/LookupResponse" } } }
      },
      "AssignmentSuccess": {
        "description": "Exact active assignment",
        "headers": { "X-Request-Id": { "$ref": "#/components/headers/RequestId" } },
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/AssignmentResponse" } } }
      },
      "DataReleaseSuccess": {
        "description": "Active release metadata",
        "headers": { "X-Request-Id": { "$ref": "#/components/headers/RequestId" } },
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/DataReleaseResponse" } } }
      },
      "OrganizationSearchSuccess": {
        "description": "Reviewed organization identity search",
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/OrganizationSearchResponse" } } }
      },
      "OrganizationSuccess": {
        "description": "Reviewed organization identity",
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/Organization" } } }
      },
      "CorrectionAccepted": {
        "description": "Correction request durably accepted",
        "content": { "application/json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/CorrectionAccepted" } } }
      },
      "CanonicalRedirect": {
        "description": "Permanent redirect to the canonical path while preserving the query",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Location": { "$ref": "#/components/headers/Location" }
        }
      },
      "Problem": {
        "description": "RFC 9457 problem response",
        "headers": { "X-Request-Id": { "$ref": "#/components/headers/RequestId" } },
        "content": { "application/problem+json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/Problem" } } }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Retry-After": { "$ref": "#/components/headers/RetryAfter" }
        },
        "content": { "application/problem+json": { "schema": { "$ref": "/schemas/public-api-v1.schema.json#/$defs/Problem" } } }
      }
    }
  }
}
