[Unit]
Description=Run isolated macvendor restore drill quarterly

[Timer]
OnCalendar=*-01,04,07,10-15 03:30:00 UTC
RandomizedDelaySec=2h
Persistent=true
Unit=macvendor-restore-drill.service

[Install]
WantedBy=timers.target
